@model List<News.Logic.DB.Articles>


<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="Page2.html">Latvia</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Page2.html">World</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Page2.html">Criminal News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Page2.html">Sports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Page2.html">Auto</a>
    </li>
</ul>
<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="Page2.html">Latvia</a></li>
        <li class="breadcrumb-item active" aria-current="page">Article</li>
    </ol>
</nav>

<h2>Article<span class="badge badge-secondary">New</span></h2>


<h6>Author: Author <span class="badge badge-pill badge-light text-secondary">Article was added: PublishedOn</span></h6>

<div class="row">
    <div class="col-md-12">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text></svg>
        
    </div>
    <div class="col-md-12">
        <p class="text-justify">This is where the article text goes.....</p>
    </div>
</div>
